# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Local app data
/data/*.db
/data/*.db-*
/storage/**
!/storage/.gitkeep

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

*.csv
*.xlsx
*.pdf
.claude/